<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <title>View: Course Updates</title>
  <meta name="description" content="">

  <link rel="stylesheet" href="../static/css/vendor/normalize.css" />
  <link rel="stylesheet" href="../static/css/vendor/font-awesome.css" />
  <link rel="stylesheet" href="../static/css/style-application.css" />
  <script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body class="view--courseupdates is-in-course is-loggedin is-not-loggedin">

  <!--[if lt IE 8]>
      <p class="msg msg--browsersupport">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="wrapper--view">
    <div class="wrapper--header">
      <header class="header--app" role="banner">

        <hgroup class="header-app__mast">
          <h1 class="app-logo">
            <img src="../static/images/theme/edx/logo-edx.png" alt="edX" />
          </h1>

          <h2 class="app-locator">
            <a href="#" class="course-title">
              <span class="org">HarvardX:</span>
              <span class="number">PH207x's</span>
              <span class="course">Health in Numbers: Quantitative Methods in Clinical &amp; Public Health Research</span>
            </a>
          </h2>
        </hgroup>

        <!-- STATE: not logged in -->
        <nav class="header--app__account nav nav--account" role="navigation">
          <h2 class="title title--section">Access Your edX Account</h2>

          <ol class="list--nav">
            <li class="nav__item nav__item--login">
              <a href="#" class="action action--login">Login</a>
            </li>
            <li class="nav__item nav__item--register">
              <a href="#" class="action action--register">Register</a>
            </li>
          </ol>
        </nav>

        <!-- STATE: logged in -->
        <nav class="header--app__account nav nav--acount">
          <h2 class="title title--section">Your edX Account</h2>

          <ol class="list--nav">
            <li class="nav__item nav--dd">
              <div class="nav--dd__control">
                <a href="#" class="action dd__label">
                  <span class="">Frrrances</span>
                </a>
                <i class="icon-caret-down dd__toggle"></i>
              </div>

              <ul class="list--nav nav--dd__menu">
                <li class="nav__item nav__item--help">
                  <a href="#" class="action">Help</a>
                </li>
                <li class="nav__item nav__item--profile">
                  <a href="#" class="action">Profile</a>
                </li>
                <li class="nav__item nav__item--logout">
                  <a href="#" class="action">Logout</a>
                </li>
              </ul>
            </li>
          </ol>
        </nav>
      </header>
    </div>

    <div class="wrapper--nav wrapper--nav--course">
      <nav class="nav nav--course">
        <h2 class="title title--section">HarvardX PH207x's Course Navigation</h2>

        <ol class="list--nav">
          <li class="nav__item nav__item--coursecontent is-current">
            <a class="action" href="">Course Content <span class="indicator--current">(Current)</span></a>
          </li>
          <li class="nav__item nav__item--discussion">
            <a class="action" href="">Discussion</a>
          </li>
          <li class="nav__item nav__item--wiki">
            <a class="action" href="">Wiki</a>
          </li>
          <li class="nav__item nav__item--progress">
            <a class="action" href=""><span class="indicator--context">Your</span> Progress</a>
          </li>
          <li class="nav__item nav__item--textbook">
            <a class="action" href="">Textbook</a>
          </li>
        </ol>
      </nav>

      <nav class="nav nav--user-mode">
        <h2 class="title title--section">View HarvardX PH207x as a(n):</h2>

        <ol class="list--nav">
          <li class="nav__item nav__item--instructor is-current">
            <a class="action" href="">Instructor  <span class="indicator--current">(Current)</span></a>
          </li>
          <li class="nav__item nav__item--student">
            <a class="action" href="">Student</a>
          </li>
          <li class="nav__item nav__item--guest">
            <a class="action" href="">Guest</a>
          </li>
        </ol>
      </nav>
    </div>

    <div class="wrapper--content">
      <div class="content">
        <div class="l--parent">
          <section class="content__main l--A">
            <h2 class="content__main__title title title--section">Course Updates &amp; News</h2>

            <section class="content__main__updates">
              <ol class="list--updates list--content">
                <li class="content__item">
                  <article class="update">
                    <header class="update__header">
                      <h3 class="title">Welcome To Ph207x!</h3>
                      <span class="time--posted">September 23, 2013</span>
                    </header>

                    <div class="update__copy">
                      <p>Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, <a href="">dapibus ac facilisis in</a>, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.<p>

                      <p>Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Donec sed odio dui. <a href="">Fusce dapibus</a>, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    </div>

                    <footer class="update__footer">
                      <p class="author">
                        <span class="indicator--context">Written by:</span>
                        <span class="author__name">Matt Tracker</span>
                      </p>
                    </footer>
                  </article>
                </li>

                <li class="content__item">
                  <article class="update">
                    <header class="update__header">
                      <h3 class="title">Welcome To PH207x!</h3>
                      <span class="time--posted">September 23, 2013</span>
                    </header>

                    <div class="update__copy">
                      <p>Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, <a href="">dapibus ac facilisis in</a>, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.<p>

                      <p>Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Donec sed odio dui. <a href="">Fusce dapibus</a>, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    </div>

                    <footer class="update__footer">
                      <p class="author">
                        <span class="indicator--context">Written by:</span>
                        <span class="author__name">Matt Tracker</span>
                      </p>
                    </footer>
                  </article>
                </li>

                <li class="content__item">
                  <article class="update">
                    <header class="update__header">
                      <h3 class="title">Tires Kicked and Fires Lit For PH207x!</h3>
                      <span class="time--posted">September 15, 2013</span>
                    </header>

                    <div class="update__copy">
                      <p>Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, <a href="">dapibus ac facilisis in</a>, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.<p>

                      <p>Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Donec sed odio dui. <a href="">Fusce dapibus</a>, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    </div>

                    <footer class="update__footer">
                      <p class="author">
                        <span class="indicator--context">Written by:</span>
                        <span class="author__name">Hondo MacLean</span>
                      </p>
                    </footer>
                  </article>
                </li>

                <li class="content__item">
                  <article class="update">
                    <header class="update__header">
                      <h3 class="title">Requirements for PH207x</h3>
                      <span class="time--posted">September 7, 2013</span>
                    </header>

                    <div class="update__copy">
                      <p>Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus varius blandit sit amet non magna. Cras justo odio, <a href="">dapibus ac facilisis in</a>, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.<p>

                      <p>Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Donec sed odio dui. <a href="">Fusce dapibus</a>, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    </div>

                    <footer class="update__footer">
                      <p class="author">
                        <span class="indicator--context">Written by:</span>
                        <span class="author__name">Bruce Sato</span>
                      </p>
                    </footer>
                  </article>
                </li>
              </ol>
            </section>
          </section>

          <aside class="content__supplemental l--B">
            <h2 class="content__supplemental__title title title--section">Course Handouts</h2>

            <ul class="list--nav">
              <li class="nav__item">
                <a class="action action-link" href="#">Framingham Data Set for Stata <span class="indicator--context">(external link)</span></a>
              </li>
              <li class="nav__item">
                <a class="action action--file" href="#">Framingham Data Set for Stata <span class="indicator--context">(downloadable file)</span></a>
              </li>
              <li class="nav__item">
                <a class="action action--pdf" href="#">Framingham Data Set for Stata <span class="indicator--context">(PDF file)</span></a>
              </li>
            </ul>
          </aside>
        </div>
      </div>
    </div>

    <div class="wrapper--footer">
      <footer class="footer--app footer--edx" role="contentinfo">
        <nav class="nav nav--org">
          <h2 class="title title--section">edX Organizational Information</h2>

          <ol class="list--nav">
            <li class="nav__item nav__item--about">
              <a href="#" class="action">About <span class="indicator--context">edX</span></a>
            </li>
            <li class="nav__item nav__item--jobs">
              <a href="#" class="action">Jobs <span class="indicator--context">at edX</span></a>
            </li>
            <li class="nav__item nav__item--press">
              <a href="#" class="action"><span class="indicator--context">Especially for</span> Press</a>
            </li>
            <li class="nav__item nav__item--faqs">
              <a href="#" class="action"><abbr title="Frequently Asked Questions">FAQs</abbr></a>
            </li>
            <li class="nav__item nav__item--contact">
              <a href="#" class="action">Contact <span class="indicator--context">edX</span></a>
            </li>
          </ol>
        </nav>

        <nav class="nav nav--elsewhere">
          <h2 class="title title--section">edX Elsewhere</h2>

          <ol class="list--nav">
            <li class="nav__item nav__item--meetup">
              <a href="#" class="action" rel="external">
                <i class="icon-file-text"></i>
                <span class="indicator--context">Meetup</span>
              </a>
            </li>

            <li class="nav__item nav__item--facebook">
              <a href="#" class="action" rel="external">
                <i class="icon-file-text"></i>
                <span class="indicator--context">Facebook</span>
              </a>
            </li>

            <li class="nav__item nav__item--twitter">
              <a href="#" class="action" rel="external">
                <i class="icon-file-text"></i>
                <span class="indicator--context">Twitter</span>
              </a>
            </li>

            <li class="nav__item nav__item--google+">
              <a href="#" class="action action" rel="external">
                <i class="icon-file-text"></i>
                <span class="indicator--context">Google+</span>
              </a>
            </li>

            <li class="nav__item nav__item--youtube">
              <a href="#" class="action action" rel="external">
                <i class="icon-file-text"></i>
                <span class="indicator--context">Youtube</span>
              </a>
            </li>
          </ol>
        </nav>

        <div class="footer--app__colophon">
          <h3 class="title">About edX</h3>
          <div class="copy">
            <p>EdX is a non-profit created by founding partners Harvard and MIT whose mission is to bring the best of higher education to students of all ages anywhere in the world, wherever there is Internet access. EdX's free online MOOCs are interactive and subjects include computer science, public health, and artificial intelligence.</p>
          </div>
        </div>

        <div class="footer--app__legal">
          <div class="statement statement--copyright">
            <p class="copy">&copy; 2013 edX, some rights reserved.</p>
          </div>

          <nav class="nav nav--legal">
            <h2 class="title title--section">edX Legal  &amp; Administrative Information</h2>

            <ol class="list--nav">
              <li class="nav__item nav__item--termsofservice">
                <a href="#" class="action">Terms of Service</a>
              </li>

              <li class="nav__item nav__item--honor-code">
                <a href="#" class="action">Honor Code</a>
              </li>

              <li class="nav__item nav__item--privacy-policy">
                <a href="#" class="action">Privacy Policy</a>
              </li>
            </ol>
          </nav>
        </div>
      </footer>
    </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="../static/js/plugins.js"></script>
  <script src="../static/js/application.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='http://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
</body>
</html>
