// edx: THEME - assets
// ====================
// variables that override/extend the base variables

// edx colors
$blue: rgb(26, 161, 222);
$blue-l1: tint($blue,20%);
$blue-l2: tint($blue,40%);
$blue-l3: tint($blue,60%);
$blue-l4: tint($blue,80%);
$blue-l5: tint($blue,90%);
$blue-d1: shade($blue,20%);
$blue-d2: shade($blue,40%);
$blue-d3: shade($blue,60%);
$blue-d4: shade($blue,80%);
$blue-d5: shade($blue,90%);
$blue-s1: saturate($blue,15%);
$blue-s2: saturate($blue,30%);
$blue-s3: saturate($blue,45%);
$blue-u1: desaturate($blue,15%);
$blue-u2: desaturate($blue,30%);
$blue-u3: desaturate($blue,45%);
$blue-t0: rgba($blue,0.125);
$blue-t1: rgba($blue,0.25);
$blue-t2: rgba($blue,0.50);
$blue-t3: rgba($blue,0.75);

$pink: rgb(181, 42, 103);
$pink-l1: tint($pink,20%);
$pink-l2: tint($pink,40%);
$pink-l3: tint($pink,60%);
$pink-l4: tint($pink,80%);
$pink-l5: tint($pink,90%);
$pink-d1: shade($pink,20%);
$pink-d2: shade($pink,40%);
$pink-d3: shade($pink,60%);
$pink-d4: shade($pink,80%);
$pink-s1: saturate($pink,15%);
$pink-s2: saturate($pink,30%);
$pink-s3: saturate($pink,45%);
$pink-u1: desaturate($pink,15%);
$pink-u2: desaturate($pink,30%);
$pink-u3: desaturate($pink,45%);
$pink-t0: rgba($pink,0.125);
$pink-t1: rgba($pink,0.25);
$pink-t2: rgba($pink,0.50);
$pink-t3: rgba($pink,0.75);

// ====================

// application: general colors
// $color-confirm: ;
$color-warning: $pink-d1;
// $color-error: ;
// $color-status: ;
$color-input: $blue-s1;
// $color-create: ;
// $color-delete: ;
// $color-support: ;

// ====================

// application: general actions
$color-primary: $blue;
$color-secondary: $blue-l1;
$color-tertiary: $gray-l1;
$color-quarternary: $gray-l2;

// application: general links
$color-link: $blue;
$color-link-hover: $blue-s1;
$color-link-active: $blue-s1;
$color-link-visited: $blue-d1;

// application: actions & links (button-focused)
$bg-action-primary: $color-primary;
$bg-action-primary-focus: saturate($color-primary, 15%);
$bordercolor-action-primary: saturate($color-primary, 15%);
$bordercolor-action-primary-focus: saturate($color-primary, 30%);
$color-action-primary: tint($color-primary, 90%);
$color-action-primary-focus: tint($color-primary, 95%);

$bg-action-secondary: $color-secondary;
$bg-action-secondary-focus: saturate($color-secondary, 15%);
$bordercolor-action-secondary: saturate($color-secondary, 15%);
$bordercolor-action-secondary-focus: saturate($color-secondary, 30%);
$color-action-secondary: tint($color-secondary, 90%);
$color-action-secondary-focus: tint($color-secondary, 95%);

$bg-action-tertiary: $color-tertiary;
$bg-action-tertiary-focus: saturate($color-tertiary, 15%);
$bordercolor-action-tertiary: saturate($color-tertiary, 15%);
$bordercolor-action-tertiary-focus: saturate($color-tertiary, 30%);
$color-action-tertiary: tint($color-tertiary, 90%);
$color-action-tertiary-focus: tint($color-tertiary, 95%);

$bg-action-quarternary: $color-quarternary;
$bg-action-quarternary-focus: saturate($color-quarternary, 15%);
$bordercolor-action-quarternary: saturate($color-quarternary, 15%);
$bordercolor-action-quarternary-focus: saturate($color-quarternary, 30%);
$color-action-quarternary: tint($color-quarternary, 90%);
$color-action-quarternary-focus: tint($color-quarternary, 95%);

// action-specific: create
$bg-action-create: $color-create;
$bg-action-create-focus: saturate($color-create, 15%);
$bordercolor-action-create: saturate($color-create, 15%);
$bordercolor-action-create-focus: saturate($color-create, 30%);
$color-action-create: tint($color-create, 90%);
$color-action-create-focus: tint($color-create, 95%);

// action-specific: delete
$bg-action-delete: $color-delete;
$bg-action-delete-focus: saturate($color-delete, 15%);
$bordercolor-action-delete: saturate($color-delete, 15%);
$bordercolor-action-delete-focus: saturate($color-delete, 30%);
$color-action-delete: tint($color-delete, 90%);
$color-action-delete-focus: tint($color-delete, 95%);

// action-specific: support
$bg-action-support: $color-support;
$bg-action-support-focus: saturate($color-support, 15%);
$bordercolor-action-support: saturate($color-support, 15%);
$bordercolor-action-support-focus: saturate($color-support, 30%);
$color-action-support: tint($color-support, 90%);
$color-action-support-focus: tint($color-support, 95%);

// ====================

// ====================

// application: copy & headings

// $color-heading: ;
// $color-heading-secondary: ;
// $color-heading-tertiary: ;

// $color-copy: ;

// ====================

// application: states
// $bg-selected: ;
// $color-selected: ;

// ====================

// application: page elements
// $bg-header--main: ;
// $color-header--main: ;

// $bg-content--main: ;
// $color-content--main: ;

// $bg-footer--main: ;
// $color-footer--main: ;

// application: course elements
// $color-navcourse: ;
// $color-navcourse-hover: ;
// $bg-navcourse: ;
// $bg-navcourse-hover: ;

// ====================

// application: forms
// $bg-formfield: ;
// $bg-formfield-focused: ;
// $bg-formfield-disabled: ;
// $bordercolor-formfield: ;
// $bordercolor-formfield-focused: ;
// $bordercolor-formfield-disabled: ;
// $color-formfield: ;
// $color-formfield-focused: ;
// $color-formfield-disabled: ;

// $color-formfieldtip: ;
// $color-formfieldtip-focused: ;
// $color-formfieldtip-disabled: ;

// ====================

// application: visual rows
// $bg-row: ;
// $bg-row-hover: ;
// $bg-row-alt: ;

