<div class="wrapper--footer">
  <footer class="footer--app footer--general" role="contentinfo">
    <div class="footer--app__colophon">
      <div class="statement statement--openedx">
        <p class="copy">Built on <a href="">Open edX</a></p>
      </div>
    </div>

    <nav class="nav nav--legal">
      <h2 class="title title--section">edX Legal  &amp; Administrative Information</h2>

      <ol class="list--nav">
        <li class="nav__item nav__item--termsofservice">
          <a href="#" class="action">Terms of Service</a>
        </li>

        <li class="nav__item nav__item--privacy-policy">
          <a href="#" class="action">Privacy Policy</a>
        </li>

        <li class="nav__item nav__item--honor-code">
          <a href="#" class="action">Honor Code</a>
        </li>

        <li class="nav__item nav__item--copyright">
          <a href="#" class="action">Copyright</a>
        </li>

        <li class="nav__item nav__item--contact">
          <a href="#" class="action">Contacat</a>
        </li>
      </ol>
    </nav>
  </footer>
</div>
