<div class="wrapper--header">
  <header class="header--app" role="banner">

    <hgroup class="header-app__mast">
      <h1 class="app-logo">
        <img src="../static/images/pl-5x5-000.png" alt="edX" />
      </h1>

      <h2 class="app-locator">
        <a href="#" class="course-title">
          <span class="org">HarvardX:</span>
          <span class="number">PH207x's</span>
          <span class="course">Health in Numbers: Quantitative Methods in Clinical &amp; Public Health Research</span>
        </a>
      </h2>
    </hgroup>

    <!-- STATE: not logged in -->
    <nav class="header--app__account nav nav--account" role="navigation">
      <h2 class="title title--section">Access Your edX Account</h2>

      <ol class="list--nav">
        <li class="nav__item nav__item--login">
          <a href="#" class="action action--login">Login</a>
        </li>
        <li class="nav__item nav__item--register">
          <a href="#" class="action action--register">Register</a>
        </li>
      </ol>
    </nav>

    <!-- STATE: logged in -->
    <nav class="header--app__account nav nav--acount">
      <h2 class="title title--section">Your edX Account</h2>

      <ol class="list--nav">
        <li class="nav__item nav--dd">
          <div class="nav--dd__control">
            <a href="#" class="action dd__label">
              <span class="">Frrrances</span>
            </a>
            <i class="icon-caret-down dd__toggle"></i>
          </div>

          <ul class="list--nav nav--dd__menu">
            <li class="nav__item nav__item--help">
              <a href="#" class="action">Help</a>
            </li>
            <li class="nav__item nav__item--profile">
              <a href="#" class="action">Profile</a>
            </li>
            <li class="nav__item nav__item--logout">
              <a href="#" class="action">Logout</a>
            </li>
          </ul>
        </li>
      </ol>
    </nav>
  </header>
</div>
