// edX: LMS - Base
// ====================

// basic
html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  @extend %copy-base;
}

// ====================

// base: layout
[class^="wrapper-"] {
  @extend %wrapper;
  padding: 0;

  > * {
    margin: 0 auto;
  }
}

.sr, hr.divider {
  @extend %text-sr;
}

// ====================

// base: view
.wrapper--view {
  background: $bg-view;
}

// ====================

// base: content
.wrapper--content {
  padding: ($baseline-v*2) ($baseline-h*2);
  background: $bg-content;
}

.content {
  @include outer-container;
}

[class^="content__"], [class^="content--"] {

  a {
    @extend %copy-link;
    @include transition(color $tmg-f1 ease-in-out, border $tmg-f1 ease-in-out);
    text-decoration: none;
  }
}

// ====================

// base: elements
strong {
  @extend %t-weight3;
}

//  reset: lists
.list--actions, .list--docs, .list--steps, .list--controls, .list--fields, .list--help, .nav--wizard, .list--tips, .field--group {
  @extend %ui-no-list;
}
