<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <title>Template: App Frame</title>
  <meta name="description" content="">

  <link rel="stylesheet" href="../static/css/vendor/normalize.css" />
  <link rel="stylesheet" href="../static/css/vendor/font-awesome.css" />
  <link rel="stylesheet" href="../static/css/style-application.css" />
  <script src="../static/js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body class="view--courseupdates">

  <!--[if lt IE 8]>
      <p class="msg msg-browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="wrapper--view">

    <div class="wrapper--header">
      <header class="header--app" role="banner">

        <hgroup class="header-app__title">
          <h1 class="header--app__title__logo">
            <img src="../static/images/pl-5x5-000.png" alt="edX" />
          </h1>

          <h2 class="header--app__title__locator">
            <a href="" class="org-name">Org</a>
            <a href="" class="org-course">Course</a>
          </h2>
        </hgroup>

        <!-- not logged in -->
        <div class="header--app__account is-not-loggedin">
          <h3 class="title">Access Your edX Account</h3>

          <ul class="nav nav--account">
            <li class="nav-item">
              <a href="" class="action action--login">Login</a>
            </li>
            <li class="nav-item">
              <a href="" class="action action--register">Register</a>
            </li>
          </ul>
        </div>

        <!-- logged in -->
        <div class="header--app__account is-loggedin">
          <h3 class="title">
            <span class="context">Welcome, </span>
            <span class="username">Marcotuts</span>
          </h3>

          <ul class="nav nav--account nav--dropdown">
            <li class="nav-item">
              <a href="" class="action action--help">Help</a>
            </li>
            <li class="nav-item">
              <a href="" class="action action--logout">Log out</a>
            </li>
          </ul>
        </div>
      </header>
    </div>

    <section class="content content--view">
      <nav class="content__nav nav--course">
        <h2 class="sr">CourseX navigation</h2>
        <ol class="nav--course__list">
          <li><a class="nav--course__item nav__item--courseware" href="">Course Content</a></li>
          <li><a class="nav--course__item nav__item--discussion" href="">Discussion</a></li>
          <li><a class="nav--course__item nav__item--wiki" href="">Wiki</a></li>
          <li><a class="nav--course__item nav__item--progress" href="">Progress</a></li>
          <li><a class="nav--course__item nav__item--textbook" href="">Textbook</a></li>
        </ol>
      </nav>


      <article class="content__main">

        <header class="content__main__header">
          <h2 class="page-title">Course Updates and News - Right sidebar layout</h2>
        </header>





      </article>

      <aside class="content__supplementary">

      </aside>
    </section>

    <footer class="footer--primary" role="contentinfo">

    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <script src="../static/js/plugins.js"></script>
  <script src="../static/js/application.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='http://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
</body>
</html>
